@media (max-width: 767px) {
    body > .container { overflow: hidden; } /* fix */
    body > .container > * { overflow: visible; } /* reset back to normal */
}

a {
    color: #FFB515;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    a:hover {
      color: #F05F40; }

h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 85px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  text-decoration: underline;
}


header.masthead {
  background-image: url(https://i.imgur.com/NqaJzCB.jpg);
  height: 900px;
  margin-top: 75px;
}

@media (min-width:0px) and (max-width: 419px){
  header.masthead {
    background-image: url(../img/eli-dino-sm.jpg);
    background-position: 0 0;
    height: 700px;
  }
}

@media (min-width:420px) and (max-width: 767px){
  header.masthead {
    background-position: -150px 0;
    height: 700px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  header.masthead {
    background-position: -50px 5px;
    height: 800px;
    margin-top: 75px;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  header.masthead {
    background-position: 0 ;
    height: 950px;
    margin-top: 80px;
  }
}

@media (min-width: 1200px) {
  header.masthead {
    background-position: 0 5px;
    height: 1000px;
    margin-top: 75px
  }
}

hr {
max-width: 50px;
border-width: 3px;
border-color: #FFB515; }

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 22px;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
}

.about-content {
  float: left;
}

.about-img {
  align-self: left;
  border-color: #FFB515;
  border-style: solid;
  border-width: 2px;
  float: left;
  height: 300px;
  margin: 20px;
  text-align: left;
}

@media (max-width:500px) {
  .about-img {
    height: 200px;
  }
}

.about-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-text {
  color: white;
  margin-top: 20px;
  min-width: 20px;
  text-align: left;
}

.back-button {
  margin-left: 15px;
  margin-top: 20px;
  position: relative;
}

.bg-dark {
  background-color: #2E63D5
}

.bg-primary {
  background-color: #00A878 !important; }

.btn-primary {
    background-color: #F05F40;
    border-color: #2E63D5;
  }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
      color: #fff;
      background-color: #ee4b28 !important; }
    .btn-primary:active, .btn-primary:focus {
      box-shadow: 0 0 0 0.2rem #2E63D5 !important; }

.close-button {
      margin: auto;
}

.contact-box-caption {
    padding-top: 45%;
}

.contact-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  float: left;
  justify-content:center;
  width: 100%;
}

.contact-img {

}

.contact-item {
  border-color: #FFB515;
  border-style: solid;
  border-width: 2px;
  color: white;
  float: left;
  height: 50vw;
  width: 50vw;
}

.contact-section {
  background-color: #2E63D5;
}

.fa {
  color: #FFB515;
}

.fuel-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 0 auto;
  padding: 2px;
  width: 90%;
}

.fuel-content {
  color: black;
  height: 50vw;
  min-height: 250px;
  min-width: 375px;
  width: 90vw;
  z-index: 1;
}

.fuel-img-layer {
  align-items: center;
  background-color: rgba(248, 247, 216, 0.3);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

}

.fuel-sources-list {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    width: 100%;
}

.fuel-text {
  color: black;
  font-size: 20em;
  margin-left: 3%;
  margin-top: 5%;
  width: 95%;
  z-index: 3;
}

.fuel-text h4 {
  font-size: 42px;
}

.fuel-text ul {
  font-size: 32px;
}

@media (max-width: 1048px) and (min-width: 933px) {
            .fuel-text ul {
              font-size: 30px;
            }
          }

@media (max-width: 933px) and (min-width: 760px) {
    .fuel-text ul {
      font-size: 24px;
      }
           }

@media (max-width: 760px) and (min-width: 640px) {
  .fuel-img-layer {
    background-color: rgba(248, 247, 216, 0.5);
  }
  .fuel-sources-list {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;
  }
  .fuel-text ul {
    font-size: 24px;
    }
}

@media (max-width: 640px) and (min-width: 574px){
  .fuel-sources-list {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;
  }
  .fuel-text ul {
    font-size: 20px;
  }
  .fuel-img-layer {
    background-color: rgba(248, 247, 216, 0.5);
}
}

@media (max-width: 574px) {
  .fuel-header {
    font-size: 48px;
  }
  .fuel-img-layer {
    background-color: rgba(248, 247, 216, 0.5);
}
  .fuel-sources-list {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;
  }
  .fuel-text ul {
    font-size: 18px;
  }
}


.full-screen {
    width: 1000px;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

.header-buffer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) and (max-width: 1199px){
  .header-buffer {
    height: 1000px;
  }
}

@media (min-width: 1200px) {
  .header-buffer {
    height: 1000px;
  }
}

.main-portfolio-img {
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
}

.modal {
  width: 100%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-dialog-box {
  margin-top: 80px;
  width: 100%;
}

.page-wrapper {
  overflow-x: hidden;
}

.popup-gallery {
align-items: stretch;
display: flex;
flex-direction: row;
justify-content: center;
}


.portfolio-box {
    height: 275px;
    max-width: 375px;
}

.portfolio-box .portfolio-box-caption {
    background: #2E63D5;
    color: #fff;
 }

.portfolio-content {
  width: 100%;
}
.portfolio-gallery {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-around;
  margin: auto;
  margin-top: 0;
  height: 150px;
  width: 80%;
}

.portfolio-gallery-img {
  /* clip: rect(0px,60px,100px,0px); */
  height: auto;
  max-height: 175px;
  /* object-fit: cover;
  overflow-y: hidden; */
  width: 33.5%;
}

.portfolio-img-frame {
    background: black;
    display: flex;
    flex-direction: column;
    height: 275px;
    justify-content: center;
}

.portfolio-img {
  height: 275px;
}

.portfolio-img-sm {
  height: 150px;
  margin: 2px 50px 2px 0;
}

.portfolio-intro {
  margin: auto;
  margin-top: 30px;
  width: 80%;
}
.project {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 0px;
  margin-top: 120px;
  width: 100%;
}

.project-description {
  align-self: center;
  font-size: 12px;
  width:40%;
}

.project-img-container {
  width: 60%;
  margin-right: 30px;
}
.project-img {
  width: 100%;
}

.project-name {
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-modal {
  width: 100%;
}

.portfolio-modal a {
  color: #2E63D5;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 22px;
}

.portfolio-modal li {
  font-family: 'Oswald', sans-serif;
}

.portfolio-modal p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

.section-heading {
  margin-bottom: 50px;
  text-align: center;
}

.titles {
  background-color: rgba(0, 0, 0, 0.3);
  color: #e38957;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
    }

.work-section {
  margin-top: 2rem;
  padding-top: 40px;
}

 .text-primary {
    color: s !important; }

#mainNav {
  background-color: #2E63D5;
}
#mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
  }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: rgba(255, 255, 255, 0.7); }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: white; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: rgba(0, 0, 0, 0.6); }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: #FFB515 !important;
     }



     @media (min-width: 992px) {
          #mainNav .navbar-brand {
            color: rgba(255, 255, 255, 0.7);
            font-family: 'Oswald', sans-serif;
            font-size: 36px;
          }
            #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
              color: rgba(255, 255, 255, 0.7); }
              #mainNav .navbar-nav > li.nav-item > a.nav-link,
              #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
                color: white; }
                #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
                #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                  color: rgba(0, 0, 0, 0.6); }
          #mainNav.navbar-shrink {
            border-bottom: 1px solid rgba(33, 37, 41, 0.1);
            background-color: #fff; }
            #mainNav.navbar-shrink .navbar-brand {
              color: #2E63D5; }
              #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
                color: #2E63D5; }
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
              color: #212529; }
              #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
              #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                color: #2E63D5; }
                #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
                #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
                  color: #FFB515 !important;
                 }
               }
     @media (max-width: 991px) and (min-width: 600px) {
                 .titles {
                   font-size: 42px;
                   }
               }

    @media (max-width: 768px) {
                  .titles {
                    font-size: 32px;
                  }
                }
