@media (max-width: 767px) {
    body > .container { overflow: hidden; } /* fix */
    body > .container > * { overflow: visible; } /* reset back to normal */
}

a {
    color: #FFB515;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    a:hover {
      color: #F05F40; }

h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 85px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  text-decoration: underline;
}


header.masthead {
  background-image: url(https://i.imgur.com/NqaJzCB.jpg);
  height: 900px;
}

@media (min-width:0px) {
  header {
    height: 500px;
  }
  header.masthead {
    background-position: 0 0 ;
    height: 700px;
    margin-top: 75px;
  }
}
@media (min-width: 768px) {
  header.masthead {
    background-position: 0 0;
    height: 800px;
    margin-top: 75px;
  }
}
@media (min-width: 992px) {
  header.masthead {
    background-position: 0 5px;
    height: 1000px;
  }
}

@media (min-width: 1200px) {
  header.masthead {
    background-position: 0 5px;
    height: 1000px;
  }
}

hr {
max-width: 50px;
border-width: 3px;
border-color: #FFB515; }

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 22px;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
}

.about-img {
  height: 300px;
  margin: auto;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  margin: 10px 0;
}

.bg-primary {
background-color: #03B5AA !important; }

.btn-primary {
    background-color: #F05F40;
    border-color: #03B5AA;
    margin: auto;
  }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
      color: #fff;
      background-color: #ee4b28 !important; }
    .btn-primary:active, .btn-primary:focus {
      box-shadow: 0 0 0 0.2rem #03B5AA !important; }

.contact-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}

.contact-section {
  padding: 150px 0;
}

.fa {
  color: #FFB515;
}

.fuel-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2px;
  width: 90%;
}

.fuel-img {
  height: 400px;
  margin: 0 20px;
}

.fuel-item {
  align-items:center;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-top: 20px;
}

.fuel-sources-list {
  margin-left: 100px;
}

.fuel-text {
  width: 600px;
}

.header-buffer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 900px;
}

@media (min-width:0px) {
  .header-buffer {
    height: 750px;
  }
}
@media (min-width: 768px) {
  .header-buffer {
    height: 800px;
  }
}
@media (min-width: 992px) {
  .header-buffer {
    height: 1000px;
  }
}

@media (min-width: 1200px) {
  .header-buffer {
    height: 1000px;
  }
}

.modal {
  width: 100%;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-dialog {
  width: 100%;
}

.popup-gallery {
align-items: stretch;
display: flex;
flex-direction: row;
justify-content: center;
}


.portfolio-box {
    height: 275px;
    max-width: 375px;
}

.portfolio-box .portfolio-box-caption {
    background: #03B5AA;
    color: #fff;
 }


.portfolio-img-frame {
    background: black;
    display: flex;
    flex-direction: column;
    height: 275px;
    justify-content: center;
}

.portfolio-img {
  height: 275px;
}

.portfolio-img-sm {
  height: 150px;
  margin: 2px 50px 2px 0;
}

.portfolio-modal {
  width: 100%;
}

.titles {
  background-color: rgba(0, 0, 0, 0.3);
  color: #e38957;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
    }

.work-section {
  margin-top: 2rem;
  padding-top: 40px;
}

 .text-primary {
    color: s !important; }

#mainNav {
  background-color: #03B5AA;
}
#mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
  }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #03B5AA; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #03B5AA; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: #03B5AA !important;
     }



     @media (min-width: 992px) {
          #mainNav .navbar-brand {
            color: rgba(255, 255, 255, 0.7); }
            #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
              color: #fff; }
          #mainNav .navbar-nav > li.nav-item > a.nav-link,
          #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
            color: rgba(255, 255, 255, 0.7); }
            #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
            #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
              color: #fff; }
          #mainNav.navbar-shrink {
            border-bottom: 1px solid rgba(33, 37, 41, 0.1);
            background-color: #fff; }
            #mainNav.navbar-shrink .navbar-brand {
              color: #03B5AA; }
              #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
                color: #03B5AA; }
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
              color: #212529; }
              #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
              #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                color: #03B5AA; }
               }
     @media (max-width: 991px) and (min-width: 600px) {
                 .titles {
                   font-size: 42px;
                   }
               }

    @media (max-width: 768px) {
                  .titles {
                    font-size: 32px;
                  }
                }
