a {
    color: #0699D1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    a:hover {
      color: #0699D1; }

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amatic SC', cursive;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 36px;
}

header.masthead {
  background-image: url(../img/eli-dino.jpg);
  border-color: pink;
  border-width: 5px;
  height: 800px;
}

hr {
max-width: 50px;
border-width: 3px;
border-color: #FFB515; }

p {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

.bg-primary {
background-color: #0699D1 !important; }

.btn-primary {
    background-color: #F05F40;
    border-color: #0699D1; }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
      color: #fff;
      background-color: #ee4b28 !important; }
    .btn-primary:active, .btn-primary:focus {
      box-shadow: 0 0 0 0.2rem #0699D1 !important; }

.fa {
  color: #FFB515;
}

.popup-gallery {
display: flex;
flex-direction: row;
justify-content: center;
align-items: stretch;
}


.portfolio-box {
    height: 500px;
    max-width: 375px;
}

.portfolio-box .portfolio-box-caption {
    color: #fff;
    background: #0699D1;
 }


.portfolio-img-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background: black;
}

.portfolio-img {
  height: 250px;
  width: 375px;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.4);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  border-radius: 50%;
}

.sub-title {
  font-family: 'Amatic SC', cursive;
  font-size: 56px;
  margin: 50px;
    }

.title {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 96px;
}

.work-section {
  margin-top: 2rem;
  padding-top: 40px;
}

 .text-primary {
    color: s !important; }

#mainNav {
  background-color: #0699D1;
}
#mainNav .navbar-brand {
    color: #0699D1;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
  }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #0699D1; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #0699D1; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: #0699D1 !important;
     }



     @media (min-width: 992px) {
          #mainNav .navbar-brand {
            color: rgba(255, 255, 255, 0.7); }
            #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
              color: #fff; }
          #mainNav .navbar-nav > li.nav-item > a.nav-link,
          #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
            color: rgba(255, 255, 255, 0.7); }
            #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
            #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
              color: #fff; }
          #mainNav.navbar-shrink {
            border-bottom: 1px solid rgba(33, 37, 41, 0.1);
            background-color: #fff; }
            #mainNav.navbar-shrink .navbar-brand {
              color: #0699D1; }
              #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
                color: #0699D1; }
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
              color: #212529; }
              #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
              #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                color: #0699D1; }
               }
     @media (max-width: 991px) and (min-width: 600px) {
                 .sub-title {
                   font-size: 42px;
                   }
               }

    @media (max-width: 768px) {
                  .sub-title {
                    font-size: 32px;
                  }
                }
